* {
    box-sizing: border-box;
}

.box {
    margin: 30px 0;
    width: 600px;
    border: 1px solid #333;
}

.box1 {
    margin: 40px auto;
    background: #ff0;
}

.box2 {
    padding: 30px;
    background: red;
}

.box3 {
    /* inline 인 stong tag를 박스로 바꿈 */
    display: block;
    margin: 100px auto;
    padding: 100px 30px;
}